@font-face {
  font-family: "dogica";
  src: url("./typos/dogica/TTF/dogica.ttf") format("truetype");
}
@font-face {
  font-family: "pixelmix";
  src: url("./typos/pixelmix/pixelmix.ttf") format("truetype");
}
@font-face {
  font-family: "pixeled";
  src: url("./typos/Pixeled.ttf") format("truetype");
}
@font-face {
  font-family: "Pixel2Drg";
  src: url("./typos/Pixel2Drg.ttf") format("truetype");
}
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
}
.arrow {
  visibility: visible;
  text-align: center;
  font-size: 4rem;
}
body {
  background-color: #111;
}
@media (max-width: 768px) {
  * {
    font-size: 10px;
  }
}
@media (max-width: 420px) {
  * {
    font-size: 8px;
  }
  #about-me-p {
    font-size: 1.5rem;
  }
}
#welcome-section {
  height: 100vh;
  width: 100vw;
  background-color: #111;
  font-family: "pixeled", monospace;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}
#main-menu {
  height: 100vh;
  width: 100vw;

  font-family: monospace;
}
.title-center {
  width: max-content;
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
  padding: 4rem;
}
.titleHeader {
  font-size: 2rem;
}
.center-menu {
  width: max-content;
  margin: 1rem;
  padding: 1rem;
  margin: 0 auto;
}
.select-option {
  list-style: none;
  width: max-content;
  width: max-content;
  color: aliceblue;
  font-size: 1rem;
  cursor: pointer;
}

.select-option-icon {
  width: 2rem;
  height: auto;
  margin: 0 1rem 0 0;
  position: relative;
  top: 3px;
  visibility: hidden;
}
@media (max-width: 768px) {
  .select-option {
    margin: 2rem;
    font-size: 1.5rem;
  }
}

.header-footer {
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
  padding: 1rem;
}
.centered-container {
  padding: 0;
  width: fit-content;
  text-align: center;
  margin: 2rem auto;
}

#about-me-title-container {
  width: 80%;
  margin: 0 auto 1rem auto;
}
#about-me-p-container {
  width: 60%;
  margin: 3rem auto 1rem auto;
}

#about-me {
  background-color: rgb(20, 20, 20);
  padding: 2rem 0;
  border-top: 3rem solid red;
  border-bottom: 3rem solid red;
  border-image: url(../images/dibujo.svg) 33% round;
}
#about-me-title {
  font-family: "pixelMix", monospace;
  font-size: 2rem;
  color: #f3f3f3;
}
#about-me-p {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.1rem;
  font-weight: bolder;
  color: #ececec;
}
#about-me-tec-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 0;
}
.about-me-tecnology {
  color: #fcd7d0;
  margin: 1rem;
  width: fit-content;
}
.tec-icon {
  font-size: 2rem;
}
.tec-title {
  font-size: 1rem;
  font-family: "pixelMix", "pixeled", monospace;
  display: inline;
  margin: 1rem;
  position: relative;
  bottom: 3px;
}
@media (max-width: 768px) {
  #about-me-p {
    font-size: 1.6rem;
  }
}

.project-tile {
  width: 30%;
  height: 40%;
  background-color: rgba(0, 0, 0, 0.3);

  margin: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  transition: 0.5s ease-out transform;
  transform: scale(1);
}

.project-tile:hover {
  transform: scale(1.1);
  transition: 0.5s ease-out all;
}

@keyframes project-tile-nothover {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes project-tile-hover-a {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
.project-tile-container {
  background-color: red;

  border: 1px solid white;
}

#projects {
  background-color: rgb(46, 53, 59);
  height: fit-content;
  padding: 2rem;
}
#projects-container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 100%;
}
.project-image-container {
  height: auto;
  width: 100%;
}

.project-tile-title {
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
  font-size: large;
  padding: 2px;
  text-align: center;
  color: #fcd7d0;
}
.project-image {
  object-fit: cover;
  position: relative;
  width: 100%;
  height: auto;
  border-radius: 0.5rem 0.5rem 0 0;
}
@media (max-width: 768px) {
  .project-tile {
    width: 100%;
  }
  #projects {
    height: fit-content;
  }
}
@media (max-width: 1024px) {
  #projects-container {
    width: 80%;
  }
  .project-tile {
    width: 45%;
  }
  #projects {
    height: fit-content;
  }
}

#links {
  background-color: rgb(90, 103, 114);
  height: max-content;
}
.links-container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1rem;
  flex-wrap: wrap;
}
.link-contact {
  text-decoration: none;
  color: rgb(235, 235, 235);
  font-size: 4rem;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 1px 3px 3px 2px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  width: 400px;
  margin: 1rem;
  padding: 2rem;
}
.link-contact:hover {
  animation-name: links-hover;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes links-hover {
  0% {
    background-color: rgb(90, 103, 114);
  }
  100% {
    background-color: rgb(122, 144, 163);
    color: white;
  }
}
.link-contact p {
  font-size: inherit;
  display: inline-block;
}

.link-icon {
  display: inline-block;
}
@media (max-width: 1328px) {
  .links-container {
    flex-direction: column;
    align-items: center;
  }
  .link-contact {
    width: 40rem;
  }
}
.links-para {
  margin: 0 auto;
  width: fit-content;
  text-align: center;
  color: rgb(235, 235, 235);
  padding: 5rem 0 2rem 0;
}

.links-para-h {
  font-size: 4rem;
  font-weight: bold;
  margin: 1rem;
}
.links-para-p {
  margin: 2rem;
  position: relative;
  top: 2rem;
  font-size: 1.5rem;
  font-style: italic;
}
.footer {
  margin: 3rem;
  margin-bottom: 0;
  text-align: center;
  padding-bottom: 3rem;
  color: white;
}
.footer p {
  font-size: 1.5rem;
}

.grid {
  width: 200px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: #333;
}
.tetris-container {
  width: 50%;
  margin: 5rem auto;
}
.grid div {
  height: 20px;
  width: 20px;
  border: 1px solid #111;
}

.tetronimo {
  background-color: chocolate;
}

.score-title {
  color: #ececec;
  text-transform: uppercase;
  font-family: "pixeled";
}

.mini-grid {
  width: 80px;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(78, 68, 68);
  margin-left: 40px;
}

.mini-grid div {
  width: 20px;
  height: 20px;
  border: 1px solid #111;
}

.part-container {
  display: flex;
}
.in {
  animation-name: in;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.out {
  animation-name: out;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes out {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes in {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.prevent-scroll {
  overflow: hidden;
}

.anchor-prevent {
  text-decoration: none;
}
